* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-header {
  min-height: 10vh;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.main {
  min-height: 80vh;
  display: flex;
}

a,
p {
  color: #282c34;
}

td img {
  width: 1.7rem;
}

.history {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.history h2 {
  font-size: 1.2rem;
}

.history h3 {
  font-size: 1rem;
}

.history_table {
  margin: 2rem !important;
}