* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  background-color: whitesmoke;
}

.App-header {
  min-height: 10vh;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.history {
  min-height: 80vh;
}

a,
p {
  color: #61dafb;
}

.card_wrapper {
  display: flex;
  justify-content: center;
}


.stats_card {
  align-self: center;
  min-width: 12rem;
  width: auto;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stats_card h1 {
  color: white;
}