* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-header {
  min-height: 10vh;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
}

a,
p {
  color: #282c34;
}


/**** History and live games area ****/
.main {
  display: flex;
  justify-content: space-evenly;
}

.history {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.history h2,
.live_games h2 {
  font-size: 1.2rem;
}

.history h3 {
  font-size: 1rem;
}

.history_table {
  margin-left: 1rem !important;
  max-width: 50vw;
}

th img {
  width: 1.7rem !important;
}

td img {
  width: 1.7rem;
}

.live_games {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}

.live_table {
  margin-right: 1rem;
}

/****  Footer area *****/
.footer {
  margin-top: 6rem;
  padding: 0.2rem;
  font-size: 1rem;
}

.footer a {
  padding: 1rem;
}

.footer p {
 margin: 1rem;
}